{% extends 'frontend/base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href={{ asset('styles/frontend/apartments/apartmentList.css') }}>{% endblock %}

{% block activeApar %}active{% endblock %}

{% block body %}
<div class="container-fluid pageContent">
    <h1>Nos <span class="h1span">logements</span> à louer</h1>
    {% for i in range(0, (((aps|length)/5)|round(0, 'ceil'))-1) %}
        <div class="row justify-content-between apsRow">
            {% for j in range(i*5, (i*5)+4) %}
                {% if j < aps|length %}
                    <div class="col-2 apartContainer">
                        <a href={{ path('apartmentDetail', {'id': aps[j].id}) }}>
                            <div class="imgContainer">
                                <img src={{ aps[j].mainPict }}>
                            </div>
                            <p class="apartName"><b>Mon super appartement de foufou des deglingos du glands</b></p>
                            <p class="apartInfos"><span class="medium">Paris, France • 150€</span><span class="light"> / nuit</span></b></p>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}