h1, h3 {
    font-family: 'Roboto Condensed', sans-serif;
}

h3 {
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #A594F9;
}

.seeAppart {
    background-color: #A594F9;
    color: white;
    border: none;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 10px;
}

.btnImage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: white; 
}

.actionDiv {
    display: flex;
    flex-direction: column;
}

.seeAppart:hover {
    background-color: #3D2F44;
}

p {
    font-family: 'QuickSand', sans-serif;
} 