.stats {
    display: flex;
    flex-direction: column;
}

.graphandlist {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.graphs {
    display: flex;
    flex-direction: column;
    margin: 2%;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5%;
}

.cards a {
    text-decoration: none;
    margin: 1%;
}

.card {
    height: 200px;
    width: 200px;
    background-color: gray !important;
    color: #A594F9; 
}

.card-title {
    color: #000 !important;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}

.card-number {
    margin-top: 15%;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    align-content: center;
}

.card:hover {
    background-color: #A594F9 !important;
    color: white !important;
}

.graph {
    height: 350px;
    width: 700px;
    color: #000; 
    font-family: 'Roboto Condensed';
    font-weight: 500;
    font-size: 22px;
    text-decoration: none;
    margin: 1%;
}

.lists {
    display: flex;
    flex-direction: row;
    margin: 2%;
    justify-content: space-around;
}

.list {
    background-color: #c8c8c8;
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 2%;
    padding: 10px;
}

.user {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5%;
}

.date {
    text-align: end;

}

.title {
    display: flex;
    flex-direction: row;
    font-size: 50px;
}

.account {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.summaryandrevenue {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.profilePict {
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    box-shadow: rgba(0,0,0,0.8) 0 0 10px;
    margin-right: 1vw;
    object-fit: cover;
}

.smallRow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.name {
    font-size: 1.7vw;
    font-weight: 500;
}

.checkmark {
    width: 1.5vw;
    padding-left: 2px;
    padding-bottom: 20px;
}

.userCard {
    margin: 2%;
    margin-bottom: 4%;
}

.summaryCard {
    color: white;
    background-color: #3D2F44;
    padding: 2%;
    margin-bottom: 6%;
    margin-top: 6%;
}