.loader {
    width: 80px;
    height: 40px;
    display: flex;
  }
  .loader:before,
  .loader:after {
    content: "";
    margin:0 -2px 0 0;
    flex: 1;
    --c:no-repeat linear-gradient(#A594F9 0 0);
    background: var(--c), var(--c), var(--c), var(--c);
    animation: l13-1 1s infinite linear, l13-2 1s infinite linear;
  }
  .loader:after {
    transform: scale(-1);
    margin: 0 0 0 -2px;
  }
  @keyframes l13-1 {
    0%,
    3%   {background-size: 0   4px,4px 0  ,0   4px,4px 0  }
    12.5%{background-size: 50% 4px,4px 0  ,0   4px,4px 0  }
    25%  {background-size: 50% 4px,4px 50%,0   4px,4px 0  }
    37.5%{background-size: 50% 4px,4px 50%,50% 4px,4px 0  }
    46%,
    54%  {background-size: 50% 4px,4px 50%,50% 4px,4px 50%}
    62.5%{background-size: 0   4px,4px 50%,50% 4px,4px 50%}
    75%  {background-size: 0   4px,4px 0  ,50% 4px,4px 50%}
    87.5%{background-size: 0   4px,4px 0  ,0   4px,4px 50%}
    96%,
    100% {background-size: 0   4px,4px 0  ,0   4px,4px 0  }
  }
  @keyframes l13-2 {
    0%,49.9%{background-position:0              20px,50% 20px,20px 100%,100% 100%}
    50%,100%{background-position:right 20px top 20px,50% 100%,100% 100%,100% 20px}
  }

.pageContent {
    height: 100vh;
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex-direction: column;
}

.content h1 {
    width: 40%;
    font-size: 1.5vw;
    font-family: 'Quicksand';
    margin-bottom: 5vh;
}

.content {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
}