{% extends 'backend/base.html.twig' %}

{% block title %}Liste des commentaires{% endblock %}

{% block body %}
    <div class="col-10 p-0">
        <div class="p-3">
            <h1>Liste des commentaires</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Numéro</th>
                        <th scope="col">Note</th>
                        <th scope="col">Contenu</th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for review in reviews %}
                        <tr>
                            <td>{{ review.id }}</td>
                            <td>{{ review.rate }}</td>
                            <td>{{ review.content }}</td>
                            <td>{{ review.post_date | date('d/m/Y H:i:s') }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
